{% extends 'cms/base.html' %}


{% block title %}
    选择小说
{% endblock %}

{% block head %}

{% endblock %}

{% block content-header %}
    <h1>{{ header_text }}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3>请选择小说</h3>
                </div>
                <div class="box-body">
                    <table>
                        {% for novel in novels %}
                            <tr>
                                <td class="col-md-8">
                                    <div class="media"  style="margin:10px 0;">
                                        <div class="media-left">
                                            <a href="#">
                                                <img style="width:100px;" class="media-object" src="{{ novel.cover_url }}" alt="...">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h2 class="media-heading">{{ novel.name }}</h2>
                                            <div class="row">
                                                <h5 class="col-md-2">{{ novel.category.name }}</h5>
                                                <h5 class="col-md-3">当前共{{ novel.chapters_num }}章</h5>
                                                <h5 class="col-md-3">当前共{{ novel.words_num }}字</h5>
                                            </div>
                                            <span>{{ novel.profile|truncatechars:100 }}</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="col-md-4">
                                    <a href="{{ to_url }}?novel_id={{ novel.id }}" class="btn btn-warning btn-lg">{{ btn_text }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}