{% extends 'cms/base.html' %}

{% block title %}
编辑员工
{% endblock %}

{% block head %}

{% endblock %}

{% block content-header %}
<h1>编辑员工权限</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3>员工权限</h3>
            </div>
            <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>用户名</th>
                                <th>手机号</th>
                                <th>所属组</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ staff.username }}</td>
                                <td>{{ staff.telephone }}</td>
                                <form action="" class="form-inline" method="post">
                                    {% csrf_token %}
                                    <td>
                                        {% for group in groups %}
                                            <label class="checkbox-inline">
                                                {% if group in staff.groups.all %}
                                                    <input type="checkbox" name="groups" checked value="{{ group.pk }}">
                                                {% else %}
                                                    <input type="checkbox" name="groups" value="{{ group.pk }}">
                                                {% endif %}
                                                <span>{{ group.name }}</span>
                                            </label>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary pull-right" value="提交">
                                        </div>
                                    </td>
                                </form>
                            </tr>
                        </tbody>
                    </table>
            </div>
            <div class="box-footer">

            </div>
        </div>
    </div>
</div>
{% endblock %}