{% extends 'account/base.html' %}
{% load novel_filters %}

{% block title %}
个人中心|起点中文网
{% endblock %}

{% block head %}
    <script src="{% static 'js/account/collect.min.js' %}"></script>
    <style>
        .size-sm {
            font-size: 15px;
        }
        .base-novel-div {
            min-width:153px;
        }
        .thumbnail {
            background: #efffff;
            min-width:153px;
        }
        .finish {
            font-size: 16px;
            padding: 5px 0;
            color: #aaaaaa;
        }
        .works-group, .read-group, .collect-group {
            min-height: 150px;
        }
    </style>
{% endblock %}

{% block content-header %}
    <h1>个人首页</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        {# 我的作品 #}
        {% if user.is_author %}
            <div class="box box-success">
                <div class="box-header clearfix">
                    <h4 class="pull-left">我的作品</h4>
                    {% if my_works %}
                        <a href="{% url 'account:novel_list' %}" class="btn btn-default pull-right">查看更多</a>
                    {% endif %}
                </div>
                <div class="box-body">
                    <div class="row works-group">
                        {% for novel in my_works|slice:'0:6' %}
                            <div class="base-novel-div col-xs-6 col-sm-4 col-md-2 text-center" data-novel-id="{{ novel.id }}">
                                <div class="thumbnail">
                                    <a href="{% url 'novel:detail' novel_id=novel.id %}">
                                        <img style="width:143px;height:187px;" class="img-thumbnail" src="{{ novel.cover_url }}" alt="">
                                    </a>
                                    <div class="caption">
                                        <h4>
                                            {% if novel.name|len_str > 6 %}
                                                <a href="{% url 'novel:detail' novel_id=novel.id %}" class="text-danger size-sm">{{ novel.name|truncatechars:8 }}</a>
                                            {% else %}
                                                <a href="{% url 'novel:detail' novel_id=novel.id %}" class="text-danger">{{ novel.name }}</a>
                                            {% endif %}
                                        </h4>
                                        {% if novel.is_complete %}
                                            <h5>
                                                {{ novel.category.name }}
                                                ·
                                                共{{ novel.chapters_num }}章
                                            </h5>
                                            <div class="clearfix">
                                                <span class="pull-left finish">已完结</span>
                                                <a href="{% url 'account:chapter_list' %}?novel_id={{ novel.id }}" class="btn btn-warning pull-right">查看</a>
                                            </div>
                                        {% else %}
                                            <h5>
                                                {{ novel.category.name }}·更新至{{ novel.chapters_num }}{% if novel.chapters_num < 1000 %}章{% endif %}
                                            </h5>
                                            <div class="clearfix">
                                                <a class="btn btn-success pull-left">更新</a>
                                                <a href="{% url 'account:chapter_list' %}?novel_id={{ novel.id }}" class="btn btn-warning pull-right">查看</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="col-md-offset-4 col-md-4 text-center">
                                <div class="page-header">
                                    <h1>暂无作品&nbsp;&nbsp;&nbsp;<a href="#"><small>去发布 >></small></a></h1>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="box-footer"></div>
            </div>
        {% endif %}
        {# 最近阅读 #}
        <div class="box box-success">
            <div class="box-header clearfix">
                <h4 class="pull-left">最近阅读</h4>
                {% if readed_novels %}
                    <a href="{% url 'account:recently_read' %}" class="btn btn-default pull-right">查看更多</a>
                {% endif %}
            </div>
            <div class="box-body">
                <div class="row read-group">
                    {% for novel in readed_novels|slice:'0:6' %}
                        <div class="base-novel-div col-xs-6 col-sm-4 col-md-2 text-center" data-novel-id="{{ novel.id }}">
                            <div class="thumbnail">
                                <a href="{% url 'novel:detail' novel_id=novel.id %}">
                                    <img style="width:150px;" class="img-thumbnail" src="{{ novel.cover_url }}" alt="">
                                </a>
                                <div class="caption">
                                    <h4>
                                        {% if novel.name|len_str > 6 %}
                                            <a href="{% url 'novel:detail' novel_id=novel.id %}" class="text-danger size-sm">{{ novel.name|truncatechars:8 }}</a>
                                        {% else %}
                                            <a href="{% url 'novel:detail' novel_id=novel.id %}" class="text-danger">{{ novel.name }}</a>
                                        {% endif %}
                                    </h4>
                                    <h5>{{ novel.category.name }} · {{ novel.author.username }}</h5>
                                    <p class="clearfix">
                                        <a href="" class="btn btn-danger pull-left">继续阅读</a>
                                        {% if novel in collected_novels %}
                                            <button type="button" class="btn btn-warning collent-btn pull-right" data-collected="true" data-toggle="tooltip" data-placement="bottom" title="已收藏">
                                                <span class="glyphicon glyphicon-star-empty"></span>
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-default collent-btn pull-right" data-collected="false" data-toggle="tooltip" data-placement="bottom" title="点击收藏">
                                                <span class="glyphicon glyphicon-star-empty"></span>
                                            </button>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-md-offset-4 col-md-4 text-center">
                            <div class="page-header">
                                <h1>空空如也&nbsp;&nbsp;&nbsp;<a href="{% url 'index' %}"><small>去看看 >></small></a></h1>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="box-footer"></div>
        </div>
        {# 收藏 #}
        <div class="box box-success">
            <div class="box-header clearfix">
                <h4 class="pull-left">我的书架</h4>
                {% if collected_novels %}
                    <a href="{% url 'account:my_collect' %}" class="btn btn-default pull-right">查看更多</a>
                {% endif %}
            </div>
            <div class="box-body">
                <div class="row collect-group">
                    {% for novel in collected_novels|slice:'0:6' %}
                        <div class="base-novel-div col-xs-6 col-sm-4 col-md-2 text-center" data-novel-id="{{ novel.id }}">
                            <div class="thumbnail">
                                <a href="{% url 'novel:detail' novel_id=novel.id %}">
                                    <img src="{{ novel.cover_url }}" style="width: 150px;" class="img-thumbnail" alt="">
                                </a>
                                <div class="caption">
                                    <h4>
                                        {% if novel.name|len_str > 6 %}
                                            <a href="{% url 'novel:detail' novel_id=novel.id %}" class="text-danger size-sm">{{ novel.name|truncatechars:8 }}</a>
                                        {% else %}
                                            <a href="{% url 'novel:detail' novel_id=novel.id %}" class="text-danger">{{ novel.name }}</a>
                                        {% endif %}
                                    </h4>
                                    <h5>{{ novel.category.name }} · {{ novel.author.username }}</h5>
                                    <p class="clearfix">
                                        <a href="{% url 'novel:detail' novel_id=novel.id %}" class="btn btn-danger pull-left">继续阅读</a>
                                        <button type="button" class="btn btn-warning collent-btn pull-right" data-collected="true" data-toggle="tooltip" data-placement="bottom" title="已收藏">
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-md-offset-4 col-md-4 text-center">
                            <div class="page-header">
                                <h1>空空如也&nbsp;&nbsp;&nbsp;<a href="{% url 'index' %}"><small>去看看 >></small></a></h1>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="box-footer"></div>
        </div>
    </div>
</div>
{% endblock %}